body {
  font-family: 'Raleway', sans-serif;
}
.jumbotron {
  background-image: url(http://blazedemo.com/assets/vacation.jpg);
  border-radius: 0 !important;
  margin-left: -20px;
  margin-right: -20px;
  min-height: 500px;
  background-size: cover;
  color: white;
}
#suggestion {
  display:none;
}
